/* CSS Document */

.typewritter{
	font-family: monospace;
	display: inline-block
}

.typewritter-text{
	display: inline-block;
	overflow: hidden;
	letter-spacing: 3px;
	animation: typing 5s steps(34,end),blink .75s step-end infinite;
	white-space: nowrap;
	font-size: 40px;
	font-weight: 700;
	border-right: 4px solid orange;
	box-sizing: border-box;
}

@keyframes typing{
	from{
		width: 0%
	}
	to{
		width: 100%
	}
}

@keyframes blink{
	from,to{
		border-color: transparent
	}
	50%{border-color: orange}
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}